body {
    background:
        -moz-radial-gradient(rgba(245, 245, 245, 0.521) 50%, transparent 16%),
        -moz-radial-gradient(rgba(245, 245, 245, 0.521) 50%, transparent 16%),
        white;
    background:
        -webkit-radial-gradient(rgba(245, 245, 245, 0.521) 50%, transparent 16%),
        -webkit-radial-gradient(rgba(245, 245, 245, 0.521) 50%, transparent 16%),
        white;
    
    
    -webkit-background-size:15px 15px;
    -moz-background-size:15px 15px;
    background-size:15px 15px;
}
.logo{
    height: 30px;
    width: 30px;
}
nav{
    background-color: white !important;
    opacity: .8;
}
.nav-links{
justify-content: flex-end;
font-family: 'Poppins', sans-serif;
}
.jumbotron{
    background-color: transparent;
    height: 410px;
}
.jcircle{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: white;
    margin-top: 60px;
}
.cjtitle{
    text-decoration: underline dotted #FA790A;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 85px;
    margin-right: 0px;
    height: 50px;
    width: 200px;
    font-size: 30pt;
}
.filter{
    height: 50px;
    width: 50px;
    color: black;
    margin-left: 136px;
    transform: rotate(90deg);
}
.wholecard{
    margin-bottom: 40px;
}
.card{
    height: 380px;
    width: 354px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    border: 0px;
}
.card-img{
    height:100%; 
    width: 500px !important;
}
.skrim{
    background-color: black;
    opacity: .3;
    height:100%; 
    width: 500px !important;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
p{
    font-family: 'Poppins', sans-serif;
}
.info{
    padding:25px;
}
.fa-compact-disc{
margin-right: 15px;
}
.fa-code{
    margin-right: 15px;
    }
    .fa-brain{
        margin-right: 15px;
        }
        .fa-laptop-code{
            margin-right: 15px;
            }
            .fa-graduation-cap{
                margin-right: 15px;
                }
                .fa-flask{
                    margin-right: 15px;
                    }
.category{
    font-size: 12pt;
    font-weight: 100;
}
.title{
    font-size: 24pt;
    font-weight: 600;
}
.hack{
    margin-bottom: 64px;
}
.lab{
    margin-bottom: 64px;
}
.college{
    margin-bottom: 64px;
}
.fa-calendar{
    margin-right: 15px;
    margin-left: 1px;
}
.fa-clock{
    margin-right: 14px;
}
.fa-map-marker-alt{
    margin-right: 16px;
    margin-left: 2px;
}
.fa-dollar-sign{
    margin-right: 18px;
    margin-left: 3px;
}
.fa-angle-down{
    margin-left: 3px;
}
.attend{
    width: 125px;
    height: 40px;
    border-radius: 20px;
    background-color: #FA790A;
    border: 0px;
    color: white;
}
.share{
    width: 125px;
    height: 40px;
    border-radius: 20px;
    border-color: #FA790A;
    background-color: transparent;
    color: white;
    margin-left: 40px;
}
.buttons{
    padding-top: 20px;
}
.bottom{
    height: 40px;
    width: 354px;
    border-top-color: white;
    border: .5px;
    border-color: black;
    border-style: solid;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
}
.techhub{
    width: 100%;
    height: 400px;
    margin-top: 90px;
}
.extra{
    height: 350px;
    width: 350px;
}
.footer{
    background-color: rgb(218, 218, 218);
    color: black;
    width: 100%;
    height: 400px;
    margin: 0px;
    padding: 0px;
}
.footer-icons{
    padding-top:70px;
    padding-bottom: 60px;
    color: grey;
}
.footer-img{
    width: 100px;
    height: 100px;
}
.fab{
    padding:20px;
    font-size: 18pt;
}